<p>Welcome to the documentation for my Personal API! For more information on how this works, check out my <a href="http://mbmccormick.com/personal-api/" target="_blank">blog post</a>. You can also view the <a href="http://github.com/mbmccormick/api">source code</a> on GitHub.

<div class="spacer spacer-sm"></div>

<p><code>GET /v0/profile/</code> <a href="http://hurl.it?method=GET&url=http://api.mbmccormick.com/v0/profile/" target="_blank"><span class="glyphicon glyphicon-new-window"></span></a> - My basic information from Facebook</p>
<pre>
{
    "name": "Matt McCormick",
    "gender": "male",
    "bithdate": "1990-07-05",
    "location": "Seattle, Washington",
    "hometown": "Oxford, Michigan",
    "relationship_status": "Married",
    "significant_other": "Libby McCormick"
}
</pre>

<div class="spacer spacer-sm"></div>

<p><code>GET /v0/profile/education/</code> <a href="http://hurl.it?method=GET&url=http://api.mbmccormick.com/v0/profile/education/" target="_blank"><span class="glyphicon glyphicon-new-window"></span></a> - My education history from Facebook</p>
<pre>
[
    {
        "type": "High School",
        "school": "Lake Orion High School",
        "year": "2008"
    },
    {
        "type": "College",
        "school": "Purdue University",
        "year": "2012"
    },
    ...
]
</pre>

<div class="spacer spacer-sm"></div>

<p><code>GET /v0/profile/employment/</code> <a href="http://hurl.it?method=GET&url=http://api.mbmccormick.com/v0/profile/employment/" target="_blank"><span class="glyphicon glyphicon-new-window"></span></a> - My employment history from Facebook</p>
<pre>
[
    {
        "position": "Program Manager",
        "employer": "Microsoft",
        "location": "Redmond, Washington",
        "start_date": "2013-02-28"
    },
    {
        "position": "IT Networks & Telecommunications Programmer",
        "employer": "Purdue University",
        "location": "West Lafayette, Indiana",
        "start_date": "2011-08-01",
        "end_date": "2012-12-01"
    },
    ...
]
</pre>

<div class="spacer spacer-sm"></div>

<p><code>GET /v0/activity/</code> <a href="http://hurl.it?method=GET&url=http://api.mbmccormick.com/v0/activity/" target="_blank"><span class="glyphicon glyphicon-new-window"></span></a> - Summary of my recent activity from Fitbit</p>
<pre>
{
    "steps": {
        "step_goal": 10000,
        "steps": 883
    },
    "sleep": {
        "sleeps": 1,
        "minutes_asleep": 418
    }
}
</pre>

<div class="spacer spacer-sm"></div>

<p><code>GET /v0/activity/steps/</code> <a href="http://hurl.it?method=GET&url=http://api.mbmccormick.com/v0/activity/steps/" target="_blank"><span class="glyphicon glyphicon-new-window"></span></a> - My step activity from Fitbit</p>
<pre>
[
    {
        "date": "2015-07-17",
        "value": "6470"
    },
    {
        "date": "2015-07-16",
        "value": "10973"
    },
    ...
]
</pre>

<div class="spacer spacer-sm"></div>

<p><code>GET /v0/activity/sleep/</code> <a href="http://hurl.it?method=GET&url=http://api.mbmccormick.com/v0/activity/sleep/" target="_blank"><span class="glyphicon glyphicon-new-window"></span></a> - My sleep time (in minutes) from Fitbit</p>
<pre>
[
    {
        "date": "2015-07-17",
        "value": "426"
    },
    {
        "date": "2015-07-16",
        "value": "427"
    },
    ...
]
</pre>

<div class="spacer spacer-sm"></div>

<p><code>GET /v0/activity/workouts/</code> <a href="http://hurl.it?method=GET&url=http://api.mbmccormick.com/v0/activity/workouts/" target="_blank"><span class="glyphicon glyphicon-new-window"></span></a> - My latest workouts (in meters and seconds) from Strava</p>
<pre>
[
    {
        "dateTime": "2015-07-15T02:07:54.000Z",
        "name": "Burke-Gilman Trail",
        "type": "Run",
        "distance": 8131.2,
        "duration": 2660
    },
    {
        "dateTime": "2015-07-11T23:58:39.000Z",
        "name": "Cheshiahud Lake Union Loop",
        "type": "Run",
        "distance": 14369.9,
        "duration": 4307
    },
    ...
]
</pre>

<div class="spacer spacer-sm"></div>

<p><code>GET /v0/body/weight/</code> <a href="http://hurl.it?method=GET&url=http://api.mbmccormick.com/v0/body/weight/" target="_blank"><span class="glyphicon glyphicon-new-window"></span></a> - My body weight (in kilograms) from Fitbit</p>
<pre>
[
    {
        "date": "2015-07-17",
        "value": "64.25"
    },
    {
        "date": "2015-07-16",
        "value": "64.73"
    },
    ...
]
</pre>

<div class="spacer spacer-sm"></div>

<p><code>GET /v0/social/</code> <a href="http://hurl.it?method=GET&url=http://api.mbmccormick.com/v0/social/" target="_blank"><span class="glyphicon glyphicon-new-window"></span></a> - Summary of my recent activity from Twitter and GitHub</p>
<pre>
{
    "twitter": {
        "tweets": 7960,
        "followers": 425,
        "following": 653,
        "favorited": 1998
    },
    "github": {
        "followers": 47,
        "following": 54,
        "repos": 92,
        "gists": 98
    }
}
</pre>

<div class="spacer spacer-sm"></div>

<p><code>GET /v0/social/twitter/</code> <a href="http://hurl.it?method=GET&url=http://api.mbmccormick.com/v0/social/twitter/" target="_blank"><span class="glyphicon glyphicon-new-window"></span></a> - My recent tweets from Twitter</p>
<pre>
[
    {
        "dateTime": "2015-07-16T19:31:13.000Z",
        "text": "@TillamookCheese To whom should I speak about getting my dollar back? :("
    },
    {
        "dateTime": "2015-07-16T19:29:40.000Z",
        "text": "@TillamookCheese Your yogurt machine put an extra label on the INSIDE of my yogurt container... http://t.co/0WeNejrgqP"
    },
    ...
]
</pre>

<div class="spacer spacer-sm"></div>

<p><code>GET /v0/social/github/</code> <a href="http://hurl.it?method=GET&url=http://api.mbmccormick.com/v0/social/github/" target="_blank"><span class="glyphicon glyphicon-new-window"></span></a> - My recent activity on GitHub</p>
<pre>
[
    {
        "dateTime": "2015-07-14T23:19:53.000Z",
        "type": "Watch",
        "repo": "ahmetalpbalkan/personal-dashboard",
        "payload": {
            "action": "started"
        }
    },
    {
        "dateTime": "2015-07-14T17:37:00.000Z",
        "type": "Push",
        "repo": "name": "mbmccormick/fitminder",
        "payload": {
            "push_id": 725624162,
            "size": 1,
            "distinct_size": 1,
            "ref": "refs/heads/master",
            "head": "8164f881c6be08eb0cfe06b779a611a6265861a9",
            "before": "f606629586bb319757f32c0ce253febf98971509",
            "commits": [
                {
                    "sha": "8164f881c6be08eb0cfe06b779a611a6265861a9",
                    "author": {
                        "email": "mbmccormick@outlook.com",
                        "name": "Matt McCormick"
                    },
                    "message": "Update routes.js",
                    "distinct": true,
                    "url": "https://api.github.com/repos/mbmccormick/fitminder/commits/8164f881c6be08eb0cfe06b779a611a6265861a9"
                }
            ]
        }
    },
    ...
]
</pre>

<div class="spacer spacer-sm"></div>

<p><code>GET /v0/blog/</code> <a href="http://hurl.it?method=GET&url=http://api.mbmccormick.com/v0/blog/" target="_blank"><span class="glyphicon glyphicon-new-window"></span></a> - My recent blog posts</p>
<pre>
[
    {
        "date": "2015-07-09",
        "title": "Fitminder - Fitbit Idle Alert",
        "url": "http://mbmccormick.com/2015/07/fitminder-fitbit-idle-alert"
    },
    {
        "date": "2015-06-10",
        "title": "vso.io - Short URL for Visual Studio Online work items",
        "url": "http://mbmccormick.com/2015/06/vso-io-short-url-for-visual-studio-online-work-items"
    },
    ...
]
</pre>

<div class="spacer spacer-sm"></div>

<p><code>GET /v0/driving/</code> <a href="http://hurl.it?method=GET&url=http://api.mbmccormick.com/v0/driving/" target="_blank"><span class="glyphicon glyphicon-new-window"></span></a> - My driving history (in seconds, meters, and gallons) from Automatic</p>
<pre>
[
    {
        "dateTime": "2015-07-19T03:38:29.752Z",
        "duration": 689,
        "distance": 7016.77783203125,
        "mpg": 18.885939906364165,
        "fuelConsumption": 0.230861395597458,
        "hard_brakes": 0,
        "hard_accelerations": 0
    },
    {
        "dateTime": "2015-07-19T01:45:59.606Z",
        "duration": 1652,
        "distance": 18006.5,
        "mpg": 20.44223156805237,
        "fuelConsumption": 0.547334969043732,
        "hard_brakes": 0,
        "hard_accelerations": 0
    },
    ...
]
</pre>
